{%  extends 'base.twig' %}

{% block content %}
    {{ parent() }}
    <div class="container text-center">
        <h1 class="display-1 text-danger">Error 404</h1>
        <h3 class="text-muted">{{ message }}</h3>
    </div>
{% endblock %}