{%  extends 'base.twig' %}

{% block content %}
    {{ parent() }}

    {% if posts is defined %}
        <h1 id="sectionTitle" class="display-4 my-4 text-muted">{{ sectionTitle }}</h1>
    {% else %}
        <div class="alert alert-warning" role="alert">
            You haven't posted any picture yet.
        </div>
    {% endif %}
{% endblock %}