
@font-face {
    font-family: 'sf_ui_displaythin';
    src: url('../fonts/sf-ui-display-thin-webfont.woff2') format('woff2'),
    url('../fonts/sf-ui-display-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    padding-top: 65px;
}

.secondaryColor {
    background-color: #40d2c7;
    color: #fff;
}

/* Navbar */
.navbar .navbar-brand {
    color: rgba(255, 255, 255, .85);
}

.navbar-brand {
    font-family: sf_ui_displaythin;
}
