
@font-face {
    font-family: 'sf_ui_displaythin';
    src: url('../fonts/sf-ui-display-thin-webfont.woff2') format('woff2'),
    url('../fonts/sf-ui-display-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'billabong';
    src: url('../fonts/billabong-webfont.woff') format('woff2'),
    url('../fonts/billabong-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    padding-top: 65px;
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.fileContainer [type=file] {
    cursor: pointer;
}

/* Navbar */
.navbar .navbar-brand {
    color: rgba(255, 255, 255, .85);
}

.display-4 {
    font-family: billabong;
    font-size: 450%;
}

.navbar-brand {
    font-family: sf_ui_displaythin;
}

.badge {
    color: #0275d8;
    background-color: #FFFFFF;
}

.badge-unselected {
    color: #0275d8;
    background-color: rgba(255, 255, 255, .65);
}